<div class="auto-container">
  <h4>{{ 'auto_title' | translate }}</h4>

  <div class="input-group">
    <label>{{ 'speed_label' | translate }}</label>
    <input type="text" [value]="state.speed" (input)="onSpeedInputChange($event)" placeholder="ms (उदा. 1000)"
      maxlength="5">
    <small style="font-size: 0.7rem; color: #888;">Range: 100ms - 10000ms</small>
  </div>

  <div class="input-group mt-2">
    <label for="stopAfter">{{ 'stop_after_label' | translate }}</label>
    <input type="text" id="stopAfter" [value]="userInputTarget === null ? '' : userInputTarget"
      (input)="onTargetInputChange($event)" [placeholder]="'mala_placeholder' | translate" maxlength="7">
  </div>

  @if (isRunning && fixedTargetMala !== null) {
  <div class="info-text status-active">
    <p>{{ 'targeting_msg' | translate }} <strong>{{ fixedTargetMala }}</strong> {{ 'more_mala' | translate }}</p>
    <p class="highlight">{{ 'remaining_msg' | translate }} <strong>{{ remainingMala }}</strong> {{ 'to_go_msg' |
      translate }}</p>
  </div>
  }

  <div class="btn-group mt-2">
    <button class="btn btn-success" (click)="handleStartClick()">
      {{ (isRunning && userInputTarget !== null) ? ('update_target_btn' | translate) : ('start_japa_btn' | translate) }}
    </button>

    <button class="btn btn-danger" [disabled]="!isRunning" (click)="stop()">
      {{ 'stop_btn' | translate }}
    </button>
  </div>
</div>